# Node
node_modules/
npm-debug.log

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/
out/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.db

# SKSE Plugins
*.dll
*.exp
*.lib
*.pdb
*.ilk
